{% extends "base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}

   <div class="container pt-5">

        <!--Grid row-->
            <div class="row">


                <div class="col-12 col-md-4 сol-lg-4">
                    <div class="card my-4">
                        <h5 class="card-header">Категории</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item {% if not category %}active{% endif %}" >
                                      <a class="nav-link" href="{% url 'blog:post_list' %}">Все</a>
                                    </li>
                                  {% for c in categories %}
                                    <li class="nav-item {% if category.slug == c.slug %}active{% endif %}">
                                      <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
                <div class="col-md-8 ">

                      <!--Grid column-->
                        {% for post in posts %}
                                {% include 'snippets/card_for_post.html' with instance=post %}
                        {% endfor %}
                </div>
            </div>
   </div>


        <!-- От сюда идет pagination -->
    {%  if posts.has_other_pages  %}
        <hr>
        <nav class="d-flex justify-content-center wow fadeIn" aria-label="Page navigation">
            <ul class="pagination pg-blue">
                {% if posts.has_previous %}
                   <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Предыдущая</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Предыдущая</a>
                    </li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Следующая</a>
                        </li>
                    {% else %}
                         <li class="page-item disabled">
                             <a class="page-link" href="#">Следующая</a>
                         </li>
                    {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}