{% extends "base.html" %}

{% block content %}
  <article>

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">
                {% if post.picture %}
                        <img class="img-fluid" src="{{ post.picture.url}}">
                    {% endif %}
                <h1 class="display-5 text-center">{{ post.title }}</h1><br>

                <p class="lead">{{ post.information }}</p>
                <hr>
                Добавлено: {{ post.timestamp|date:"SHORT_DATE_FORMAT" }}
            </div>


        </div>
    </div>
  </article>

{% endblock %}
